{deps, [{mochiweb, {git, "git://github.com/mochi/mochiweb.git", {tag, "v2.17.0"}}}]}.

{profiles, [{prod, [{relx, [{dev_mode, false},  
                            {include_erts, true} ,      
                            {include_src, false}]}]}]}.

{cover_enabled, true}.

{cover_opts, [verbose]}.

{erl_opts, [debug_info]}.

% rebar3 release -d false
{relx, [{release, {chatterbox, "0.1.0"}, [chatterbox]},
	{dev_mode, true},
	{include_erts, false},
	{extended_start_script, true}]}.

% When releasing for a target system, dev_mode should be set to false and
% it is often good idea to include erts along with the system so it does not
% require it to be previously installed on the target.
% rebar3 as prod tar
